extends base

block vars
	- var title = 'Change Password'

block body
	#innerPage.container
		form(name='changePasswordForm' method='POST' onsubmit='return validateChangePasswordForm()' style='width: 300px')
			legend Change Password
			input(type='hidden', name='_csrf', value=csrfToken)
			.form-group
				label(for='oldPassword') Old Password
				input.form-control(type='password', name='oldPassword', autofocus)
			.form-group
				label(for='password') New Password
				input.form-control(type='password', name='password')
			.form-group
				label(for='repeatPassword') Repeat New Password
				input.form-control(type='password', name='repeatPassword')
			button.btn.btn-primary(type='submit') Complete