extends base

block vars
	- var title = "Team"

block body
	body(style='background-color:#34495E;')
		tr
			td
				img(src= "img/Akua.png" style="padding:50px;")
		tr
			td
				img(src= "img/Sal.png" style="padding:50px;")
		tr
			td
				img(src= "img/Jesse.png" style="padding:50px;")
		tr
			td
				img(src= "img/Steve.png" style="padding:50px;")
		tr
			td
				img(src= "img/Manjot.png" style="padding:50px;")